body {
    background: #134E5E;
    background: -webkit-linear-gradient(to right, #71B280, #134E5E);
    background: linear-gradient(to right, #71B280, #134E5E);
}

.fontTitle {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-transform: uppercase;
}

.textError {
    font-size: 1rem;
}
